name: CI
on: [push, pull_request]
jobs:
  tests:
    run-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run the tests
        run: docker-compose run --rm lorawan make test
